################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/thirdparty/builds
/builds
/benchmark/builds/VisualStudio2022
/unittest/builds/VisualStudio2022
/thirdparty/vcpkg
